{% extends "layout_new_entry.jinja2" %}
{% block body %}

<div class="jumbotron">
  <!-- Entry ID: {{ single_entry.id }} -->
  <h3>edit-entry.jinja2</h3>
  <h2>Edit Journal Entry {{ single_entry.id }}</h2>
  <div class="form-group">
    <label for="comment">Journal Body:</label>
    <textarea class="form-control" rows="5" id="body">{{ single_entry.body  | safe }}</textarea>
  </div>
  <h2><a href='/'>Back to Home</a></h2>
</div>

{% endblock %}
