{% extends "layout.jinja2" %}
{% block body %}

<div class="jumbotron">
  <h1>new-entry.jinja2</h1>
  <h2><a href='/'>Back to Home</a></h2>
  <div class="form-group">
    <label for="comment">Comment:</label>
    {% if data %}
    <h1>{{ data.name }}</h1>
    {% endif %}
    <form action="{{ request.route_url('create') }}" method="POST">
      <label for="title">New Instance Title: </label><br/>
      <input type="text" name="name"/><br/>
      <input type="submit" value="Submit"/>
    </form>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
</div>

{% endblock %}
