{% extends "layout.jinja2" %}
{% block body %}

  <div class="jumbotron">
    <h4>single-entry.jinja2</h4>
    <h1>{{ single_entry.title }}</h1>
    <p>{{ single_entry.date.strftime('%B %d, %Y') }}</p>
    <hr>
    <p>{{ single_entry.body | safe }}</P>
    <h2>
      <a href='{{request.route_url('update',id=single_entry.id)}}'>
        <button class="btn btn-default"><h3>Edit Entry</h3></button>
      </a>
    </h2>
  </div>

{% endblock %}
